<div class="col-md-10 col-md-offset-1" id="setCredentials">
  <h3 class="text-primary"><%= image_tag("user_logo.png", width: '35', height: '35', alt: 'S3 Login', class: "") %> Amazon S3 Object Storage <small>Account Settings</small></h3>
  <br>
  <div class="alert alert-info" role="alert">
    <span><%= image_tag("aws_logo.png", width: '45', height: '45', alt: 'S3 Login', class: "") %> Sign up for a free AWS account to generate Amazon S3 credentials: <a target="_blank" href="https://aws.amazon.com/free/">https://aws.amazon.com/free/</a></span>
    <br>
    <br>
    <span><%= image_tag("ecs_logo.png", width: '45', height: '45', alt: 'S3 Login', class: "") %>Sign up for a free ECS Test Drive account to generate EMC S3 credentials: <a target="_blank" href="https://portal.ecstestdrive.com/">https://portal.ecstestdrive.com/</a></span>
  </div>
  <br>
  <table class="table table-striped table-condensed table-bordered table-hover">
    <tr>
      <th>Current S3 Endpoint</th>
      <th>Current S3 Username</th>
      <th>Current S3 Password</th>
      <th>Use HTTPS</th>
    </tr>
    <tr>
      <td><%= session[:s3address] %></td>
      <td><%= session[:s3username] %></td>
      <td><%= session[:s3password] %></td>
      <td><%= session[:use_ssl] %></td>
    </tr>
  </table>
  <br>
  <!-- form to set S3 credentials -->
  <%= form_for :selection, :url => {:controller => "main", :action => "setS3"}, :remote => true  do |f| %>
      <div class="form-group">
        <%= f.label 'Set S3 Endpoint (HTTPS):' %>
        <%= f.text_field(:s3address, class: 'form-control', :placeholder => "s3.amazonaws.com or object.ecstestdrive.com", required:true) %>
      </div>
      <div class="form-group">
        <%= f.label 'Set S3 Username:' %>
        <%= f.text_field(:s3username, class: 'form-control', :placeholder => "Access Key ID", required:true) %>
      </div>
      <div class="form-group">
        <%= f.label 'Set S3 Password:' %>
        <%= f.text_field(:s3password, class: 'form-control', type: 'password', :placeholder => "Secret Access Key", required:true) %>
      </div>
      <div class="form-group">
        <%= f.label 'HTTPS (443):' %>
        <%= f.radio_button :use_ssl, 'true', :checked => true, required:true %>
        <%= f.label 'HTTP (80):' %>
        <%= f.radio_button :use_ssl, 'false', required:true %>
      </div>
      <br>
      <%= f.submit 'Set S3 Credentials', :class => 'btn btn-primary' %>
      <%= link_to 'Wipe S3 Credentials', { :controller => "main", :action => "wipeS3Credentials"}, :class=>'btn btn-danger', :remote => true %>
  <% end %>
  <br>
  <br>
</div>
