<%= render 'layouts/navbar_software' %>
<div class="row">
  <%= render 'errors' %>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <h3 class="text-primary"><%= image_tag("server_logo.png", width: '35', height: '35', alt: 'S3 Login', class: "") %> Object Explorer Server <small> - Running Configuration</small></h3>
  <br>
  <span><strong>Server Instance: </strong><span class="badge"> <%= @server_instance %></span></a>
  <span><strong>Server Address: </strong><span class="badge"> <%= @server_address %></span></a>
  <span><strong>Server Platform: </strong><span class="badge"> <%= @os_type %></span></a>
  <br>
  <br>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Software</th>
        <th>Currently Running</th>
        <th>Built On</th>
        <th>Software Usage</th>
      </tr>
      <tr>
        <td>Ruby</td>
        <td><%= @ruby_version %></td>
        <td>2.2.5p319</td>
        <td>A dynamic, reflective, object-oriented, general-purpose programming language.</td>
      </tr>
      <tr>
        <td>Rails</td>
        <td><%= @rails_version %></td>
        <td>5.0.0.1</td>
        <td>A web application framework written in Ruby. Provides structures for database, web service, and web pages.</td>
      </tr>
      <tr>
        <td>Bootstrap</td>
        <td><%= @bootstrap_version %></td>
        <td>3.3.7</td>
        <td>A open-source collection of tools for creating websites and web applications.</td>
      </tr>
      <tr>
        <td>AWS</td>
        <td><%= @aws_version %></td>
        <td>1.66.0</td>
        <td>Amazons offical S3 SDK.</td>
      </tr>
    </table>
    </div>
  </div>
</div>
