<div class="col-md-10 col-md-offset-1" id="loginInfo">
  <h3 class="text-primary"><%= image_tag("s3_logo.png", width: '35', height: '35', alt: 'S3 Login', class: "") %> Amazon S3 Object Storage <small> - Client Interface</small></h3>
  <br>
  <table class="table table-striped table-condensed table-bordered table-hover">
    <tr>
      <th>Endpoint</th>
      <th>Username</th>
      <th>Connection Status</th>
    </tr>
    <tr>
      <td><%= session[:s3address] %></td>
      <td><%= session[:s3username] %></td>
      <td><%= session[:s3connection] %></td>
    </tr>
  </table>
  <%= link_to 'Refresh', { :controller => "s3", :action => "testS3Connection"}, :class=>'btn btn-default btn-sm', :remote => true %>
</div>
