<div id="objects" class="col-md-6 ">
  <h4 class="text-primary"><span class="glyphicon glyphicon-file"></span> Objects <small> - <%= session[:s3bucket] %></small></h4>
  <table class="table table-striped table-condensed table-bordered table-hover">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th>Type</th>
    </tr>
    <% @objects_array.each do |objects_hash| %>
      <tr>
        <td>O</td>
        <td><%= objects_hash[:name] %></td>
        <td><%= objects_hash[:size] %></td>
        <td><%= objects_hash[:type] %></td>
      </tr>
    <% end %>
    </table>
    <%= link_to 'Refresh', { :controller => "s3", :action => "testS3Connection"}, :class=>'btn btn-default btn-sm', :remote => true %>
    <button type="button" class="btn btn-primary btn-sm">Upload</button>
    <button type="button" class="btn btn-primary btn-sm">Download</button>
    <button type="button" class="btn btn-danger btn-sm">Delete</button>
</div>
