<%= render 'layouts/navbar_s3' %>
<div class="row">
  <%= render 'errors' %>
</div>

<div class="row">
  <%= render 'loginInfo' %>
</div>
<br>
<br>
<div class="row">
  <%= render 'buckets' %>
  <%= render 'objects' %>
</div>
